.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
**/.DS_Store
gf
main
*.exe
output/
manifest/output/
temp/
temp.yaml
log/
logs/
bin/
**/config/config.yaml
resource/public/media/
resource/private/tmp/
resource/private/files/